<%- include('partials/header') -%>

<main class="container">
    <% let filtered = user.username %>

    <section class="">
        <h1 class="">Your Notes</h1>
    </section>
    <p><a href="/notes/new">add a note</a></p>
    <% if(notes.length==1) { %>
    <h3 class="page-title">You have 1 note</h3>
    <% } else { %>
    <h3 class="page-title">You have <%=notes.length%> notes</h3>
    <% } %>

    <section class="notes wrapper">
        <section class="search">
            <input id="search" type="search" placeholder="Search Notes" />
        </section>

        <%notes.reverse().forEach(note=>{ %>
        <div class="review-card card" data-id="<%=notes._id%>">
            <i class="fa-solid fa-circle-user"></i>
            <div class="template-info">
                <h2 class="template-info_restaurant"><%=note.title%></h2>
            </div>
                <div class="template-info">
                   <img src="<%=note.image%>" width="600px" class="materialboxed">
                </div>
            <p class="template-comment"><%-note.content%></p>
            <form action="/notes/delete/<%= note._id %>?_method=DELETE"
                method="POST"
                class="" onsubmit="return confirm('Delete Note?')">
                <button type="submit"  class="btn-floating btn-small right delete"><i class="material-icons">delete</i></button>
            </form>
            <a href="notes/edit/<%=note._id.toString()%>"  class="btn-floating btn-small"><i class="material-icons">edit</i></a>
        </div>
        <%}) %>
    </section>
</main>
<!-- <script>
    document.querySelector(".delete").addEventListener('click',()=>{
        console.log("Asdfa")
        confirm("sure you want to delete?")
    })
</script> -->
<%- include('partials/footer') -%>