<%- include('partials/header') -%>

<main>
  <% let filtered = user.username %>

  <section class="TOTRbanner">
        <h1 class="TOTRbanner-item">REVIEWS from <%=filtered.toUpperCase() %></h1>
        <h2>Welcome <b><%=user.username %></b>!!</h2>
  </section>
  <p><a href="/notes/new">add a note</a></p>
  <h3 class="page-title">There are <%=notes.length %> 
    <% if(notes.length==1) { %>
    review here.
  <% } else { %>  
    notes here.
 <% } %></h3>
  
 <section class="notes wrapper">
  <section class="search"> 
    <input id="search" type="search" placeholder="Search Notes"> 
</section>

    <%notes.reverse().forEach(notes=>{ %>
          <div class="review-card" data-id='<%=notes._id%>'>        
            <i class="fa-solid fa-circle-user"></i>
            <div class="template-info">
          
<!-- Get username to try to put in head--> 
<%if(user){%>

  <%if(notes.user._id==user._id.toString()){%>
    <span class="template-info_username"><a href="/notes/"><%=notes.user.username%></a></span>
    <% filtered =notes.user.username %>
    <% } else { %>
      <span class="template-info_username"><a href="/notes/user/<%=notes.user._id.toString()%>"><%=notes.user.username%></a></span>
      <% filtered =notes.user.username %>
      <%}%>
  <%}%>
</span>

                  <h2 class="template-info_restaurant"><%=notes.restaurant%></h2>
                  <span class="template-info_location">Location: <%=notes.city%>, <%=notes.state%> -- <%=notes.country.split('-').join(' ')%></span>
                  <h4 class="template-info_type">Type: <%=notes.foodType%></h4>
                  <span class="template-info_user">Favorite dish: <%=notes.favDish%></span>
                    </div>
                  <p class="template-comment">"<%=notes.comment%>"</p>
                  <%if(user._id.toString()==notes.user._id.toString()){%>
                 <i class="fas fa-trash delete"></i>
                 <a href="/notes/<%=notes._id%>" ><i class="fas fa-edit edit"></i></a>         
                  <%}%>
          </div>
          
        <%}) %>

  </section>
  </main>