<%- include('partials/header') -%>
        <!-- 100hours project -->
        <h2>Hello <%=user.username%></h2>
        <form action="/dashboard/updategrade?_method=PUT"
            method="POST">
        <select id="grade-input" name="gradeLevel" tabindex="8">
           <% if(user.gradeLevel){%>
            <option value="<%=user.gradeLevel %>"selected><%=user.gradeLevel %></option>
            <option value="kindergarten" >Kindergarten</option>  
            <option value="1st Grade" >1st Grade</option>  
            <option value="2nd Grade" >2nd Grade</option>  
            <option value="3rd Grade" >3rd Grade</option>  
            <option value="4th Grade" >4th Grade</option>  
            <option value="5th Grade" >5th Grade</option>  
            <option value="6th Grade" >6th Grade</option>  
            <option value="7th Grade" >7th Grade</option>  
            <option value="8th Grade" >8th Grade</option>  
            <option value="Algebra 1" >Algebra 1</option>  
            <option value="Geometry" >Geometry</option>  
            <option value="Algebra 2" >Algebra 2</option>  
            <option value="Pre-Calculus" >Pre-Calculus</option> 
            <%}else{ %>
            <option value="" disabled selected>Choose your grade</option>
            <option value="kindergarten" >Kindergarten</option>  
            <option value="1st Grade" >1st Grade</option>  
            <option value="2nd Grade" >2nd Grade</option>  
            <option value="3rd Grade" >3rd Grade</option>  
            <option value="4th Grade" >4th Grade</option>  
            <option value="5th Grade" >5th Grade</option>  
            <option value="6th Grade" >6th Grade</option>  
            <option value="7th Grade" >7th Grade</option>  
            <option value="8th Grade" >8th Grade</option>  
            <option value="Algebra 1" >Algebra 1</option>  
            <option value="Geometry" >Geometry</option>  
            <option value="Algebra 2" >Algebra 2</option>  
            <option value="Pre-Calculus" >Pre-Calculus</option>  
           <% }%> 
          </select>
          <input type="submit">
        </form>

        <section class="resources">
            <h2>Resources</h2>
            <section class="relinks">

            </section>
        </section>
        <section class="notes">
            <h2>Notes</h2>
            <section class="classNotes">

            </section>
        </section>
        <section class="assignments">
            <h2>Assignments</h2>
            <section class="listItems">
                <h3>Add an assignment</h3>
                <form action="/dashboard/addTask" method="POST"> 
                    <input type="text" placeholder="Enter assignment" name="taskItem">
                    <input type="date" placeholder="Due Date" name="dueDate">
                    <input type="submit">
                </form>

   <section class="list">
    <ul>
        <% for(i=0; i<item.length; i++) {%>
            <li><%= item[i].name %> <span>| due: <%= new Date(item[i].dueDate).toDateString() %></span>
                <form
                    action="/post/deletePost/<%= item[i]._id %>?_method=PUT"
                    method="POST"
                    class="col-3">
                    <a class="btn-flat"><i class="delete material-icons" type="submit">delete</i></a>
                </form>
            </li>
            <% } %>
    </ul>
   </section>

            </section>
        </section>
        <%- include('partials/footer') -%>
