<%- include('partials/header') -%>
action="/notes/delete/<%= note._id %>?_method=DELETE"
                method="POST"

<main class="container">
    <div class="container-1280 center">
        <h3>Edit Note</h3>
        <form action="/notes/update/<%= note._id %>?_method=PUT" method="POST">
        <div class="row">
            <div class="col s12 input-field">
                <input tabindex="1" class="validate" type="text" value="<%=note.title%>" name='title' id="restaurant-modal" required>
                <label for="restaurant-modal">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field">
                <textarea id="content" tabindex="7" class="validate" type="text" name='content' id="comment-modal" required><%=note.content%></textarea>
                <label for="comment-modal"></label>
            </div>
        </div>

        <div class="row">
            <div class=" col s12 m6 l6">
                <div class="">
                  <span>Image</span>
                  <img src="<%=note.image%>" width="500px">
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col s4 m6 l6 input-field">

            </div>
            <div class="col s4 m2 l1">
                <button class="width-100 btn waves-effect waves-light modal-submit center" type="submit" name="action" value="Upload">Submit
                </button>
            </div>
            <div class="col s3 m2 l2">
                <button id="cancel" class="width-100 btn waves-effect waves-light black center" type="button">Cancel</button>
            </div>
        </div>
    </form>
    </div>    
</main>

<script>
    document.querySelector('#cancel').addEventListener('click',()=>{

  if(confirm("Sure you want to cancel?")){
    window.location.href = '/notes';
  }else return ""

})
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    CKEDITOR.replace('content',{
    plugins: 'wysiwygarea, toolbar ,basicstyles, link'
    })
</script>
<%- include('partials/footer') -%>

<!-- ------------------------------------------------------------------------------- -->

<!-- 

<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/notes/createnote" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="content"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>

    </div>
  </div>
</div>
<%- include('partials/footer') -%> -->